---
title: "codehearts is catherine hart"
layout: codehearts
---

<article class="bio">
  {% for bio in site.bios %}
    <h1>{{ bio.name }}</h1>

    <figure>
      <picture>
        <source type="image/webp"
                srcset="{{ bio.image | split: "." | first }}.webp, {{ bio.image | split: "." | first }}-2x.webp 2x">
        <img src="{{ bio.image }}"
             srcset="{{ bio.image | split: "." | join: "-2x." }} 2x"
             alt="{{ bio.image_alt }}">
      </picture>
    </figure>

    {{ bio.content }}

    <nav>
      <ul>
        {% for link in bio.links %}
        <li><a href="{{ link.link }}" class="button">{{ link.name }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  {% endfor %}
</article>

<article class="repos">
  <h1>this is what i'm doing</h1>

  {% for repo in site.repos %}
    <article>
      <h2>{{ repo.name }}</h2>

      {{ repo.content }}

      <a href="https://github.com/{{ repo.repo }}" class="button">browse</a>
    </article>
  {% endfor %}
</article>

<article class="works">
  <h1>this is what i've done</h1>

  {% for work in site.works reversed %}
    <article>
      <h2>{{ work.name }}</h2>
      <h3>{{ work.time }}</h3>

      {{ work.content }}

      {% if work.link %}
        <p>
          <a href="{{ work.link }}" class="button">
            {{ work.link_label | default: work.link }}
          </a>
        </p>
      {% endif %}

      <figure>
        <picture>
          <source type="image/webp"
                  srcset="{{ work.image | split: "." | first }}.webp, {{ work.image | split: "." | first }}-2x.webp 2x">
          <img src="{{ work.image }}"
               srcset="{{ work.image | split: "." | join: "-2x." }} 2x"
               alt="{{ work.image_alt }}">
        </picture>
      </figure>
    </article>
  {% endfor %}
</article>
