{% capture image_basename %}{{ include.src | split: "." | first }}{% endcapture %}
{% capture image_extension %}{{ include.src | split: "." | last }}{% endcapture %}

{% capture image %}{{ include.src }}{% endcapture %}
{% capture image_2x %}{{ image_basename }}-2x.{{ image_extension }}{% endcapture %}

{% capture image_webp %}{{ image_basename }}.webp{% endcapture %}
{% capture image_webp_2x %}{{ image_basename }}-2x.webp{% endcapture %}

<picture>
  <source type="image/webp"
          srcset="{{ site.url }}/{{ image_webp | cache_busting }},
                  {{ site.url }}/{{ image_webp_2x | cache_busting }} 2x">
  <img src="{{ site.url }}/{{ image | cache_busting }}"
       srcset="{{ site.url }}/{{ image_2x | cache_busting }} 2x"
       alt="{{ include.alt }}">
</picture>
