section {
  ul {
    padding: 0;

    & > li {
      list-style: none;

      // Lists use a heart as their bullet
      &::before {
        background: center 75% / cover no-repeat url('/cache_bust(img/heart.svg)');
        margin: -2.125em -1.5em -2.125em -3.5em;
        transform: scale(0.15);
        filter: brightness(10%);
        display: inline-block;
        content: '';
        height: 5em;
        width: 5em;
      }
    }
  }
}
