header {
  // Name
  & > h1 {
    margin-bottom: 0;
  }

  // Contact info
  & > nav {
    & > ul {
      padding: 0;
      list-style: none;

      & > li {
        display: inline;

        & > a {
          font-family: $font_display;
          color: $color_text;
        }

        &::after {
          background-size: contain;
          margin: -2em -2em -2.25em calc(-2em + 0.75ex);
          transform: scale(0.25);
          display: inline-block;
          content: '';
          width: 5em;
          height: 5em;
        }

        // First link is followed by a moon
        &:nth-child(1)::after {
          background-image: url('/cache_bust(img/moon.svg)');
        }

        // Second link is followed by a star
        &:nth-child(2)::after {
          background-image: url('/cache_bust(img/star.svg)');
        }
      }
    }
  }
}
