<!doctype html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="theme-color" content="#ff7aab">
  <link rel="manifest" href="{{ site.url }}/{{ "site.webmanifest" | cache_busting }}">

  <title>{{ page.title }}</title>

  <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,400i%7CVarela+Round&display=swap" crossorigin="anonymous" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.url }}/{{ "css/codehearts.css" | cache_busting }}">

  <link rel="apple-touch-icon" href="{{ site.url }}/{{ "icons/apple-touch-icon.png" | cache_busting }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/{{ "icons/favicon-32x32.png" | cache_busting }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/{{ "icons/favicon-16x16.png" | cache_busting }}">
  <link rel="mask-icon" href="{{ site.url }}/{{ "icons/safari-pinned-tab.svg" | cache_busting }}" color="#ff7aab">
</head>
<body>
  {{ content }}

  <footer>
    <h1 class="heart">Thanks!</h1>
    <h6 class="copyright">&copy; 2019 Catherine Hart</h6>
  </footer>
</body>
</html>
